# Ignore virtual environment
venv/

# Ignore dataset folders
data/
datasets/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db
